
<div class="container mt-4">
    <div class="col text-start">
        <button class="btn btn-secondary" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Back
        </button>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="headline">FJ-MYSQL Table Management</h1>
        </div>
    </div>
    
    <!-- Search bar for table names -->
    <div class="form-group mb-4">
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input 
                [(ngModel)]="searchTerm" 
                (ngModelChange)="onSearchChange()" 
                class="form-control rounded-start" 
                placeholder="Search tables..." 
                type="text"
            />
        </div>
    </div>
    
    <div class="grid-container">
        <div 
            class="grid-item"
            *ngFor="let table of tables"
            (click)="onSelectTable(table)"
            [ngClass]="{'animate__animated': true, 'animate__bounceIn': true}">
            <i class="fas fa-database fa-2x mr-3"></i>
            <div class="card shadow-sm table-card">
                <div class="card-body d-flex align-items-center">
                 
                    <span class="table-name">{{ table }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <app-table-details 
        *ngIf="selectedTable" 
        [tableName]="selectedTable" 
        class="mt-4">
    </app-table-details>
</div>
